@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prometeo-primary: #7c3aed;      /* violeta Prometeo */
  --prometeo-secondary: #0ea5e9;    /* sky */
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
